*{ 
	margin: 0; 
	padding: 0; 
}
body{ 
	font-family: Georgia, serif;
	background: url(../images/login-page-bg.jpg) top center no-repeat #c4c4c4;
	color: #3a3a3a;
}
.clear{ 
	clear: both;
}
form{ 
	width: 406px; 
	margin: 170px auto 0;
}
legend{
	display: none;
}
fieldset{ 
	border: 0; 
}
label{ 
	width: 115px; 
	text-align: right; 
	float: left; 
	margin: 0 10px 0 0; 
	padding: 9px 0 0 0; 
	font-size: 16px;
	font-weight:bold;
}
input{ 
	width: 220px; 
	display: block; 
	padding: 5px; 
	margin: 0 0 10px 0; 
	font-size: 15px;
	color: #3a3a3a;
	font-family: Georgia, serif;
	background-color:#E8E8E8;
	border:1px inset #3a3a3a;
}					  
.button{ 
	background: url(../images/button-bg.png) repeat-x top center; 
	border: 1px solid #999;
	-moz-border-radius: 5px; 
	padding: 5px; 
	color: black; 
	font-weight: bold;
	-webkit-border-radius: 5px; 
	font-size: 13px;  
	width: 70px; 
}
.button:hover{ 
	background: #E8E8E8; 
	color: black; 
}

label.error{
	font-size:10px;
	margin-left:135px;
	width:220px;
	margin-top:-13px;
	color:red;
	padding:9px 0px;
	text-align: right;	
}

.err{
	font-size:12px;
	color:red;
	margin-left:40px;
}